/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@font-face {
  font-family: 'HFMidoRound';
  src: url('/static/font/HFMidoRound.ttf');
}

@font-face {
  font-family: 'HFFull';
  src: url('/static/font/HFFull.ttf');
}

@font-face {
  font-family: 'HFP';
  src: url('/static/font/HFP.ttf');
}

@font-face {
  font-family: 'HFPopin';
  src: url('/static/font/HFPopin.ttf');
}

@font-face {
  font-family: 'Techna';
  src: url('/static/font/Techna.ttf');
}

.backgroundAnimation > use {
  animation: move-forever 20s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.backgroundAnimation > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.backgroundAnimation > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 11s;
}

.backgroundAnimation > use:nth-child(3) {
  animation-delay: -6s;
  animation-duration: 15s;
}

.backgroundAnimation > use:nth-child(4) {
  animation-delay: -8s;
  animation-duration: 19s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

a {
  text-decoration: none !important;
}

.heroHeader {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  background-color: var(--hero-mian-skew-color);
}

.headerSkew {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../static/img/background.svg);
  z-index: 2;
}

.headerWrapper {
  z-index: 5;
  width: 100%;
  height: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerInfo {
  max-width: 50rem;
}

.heroContiner {
  display: flex;
  flex-direction: column;
}

.heroTitle {
  font-family: HFPopin;
  font-size: 6.5rem;
  line-height: 1.25;
  font-weight: 900;
  letter-spacing: 0.3rem;
  margin: 0 auto;
  background: -webkit-linear-gradient(315deg, #239b56 35%, #3633cb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerButton {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem 0;
}

.getStartedButton {
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
  color: var(--hero-mian-skew-color);
  margin-right: 4rem;
  padding: 0.5rem 0.6rem;
  background: var(--ifm-color-primary);
  border: 1px solid #ffffff;
  min-width: 10rem;
  font-weight: 600;
}

.getStartedButton:hover {
  color: var(--ifm-color-primary);
  background: #ffffff;
  border: 1px solid var(--ifm-color-primary);
  transition: all 0.2s ease-in-out;
}

.githubButton {
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
  color: var(--hero-white-color);
  padding: 0.5rem 0.6rem;
  background: #020203;
  border: 1px solid #020203;
  min-width: 10rem;
  font-weight: 600;
}

.githubButton:hover {
  color: #020203;
  background: #ffffff;
  border: 1px solid #020203;
  transition: all 0.2s ease-in-out;
}

.githubIcon {
  width: 1.3rem;
  margin-right: 0.6rem;
  filter: invert(100%);
}

.githubButton:hover .githubIcon {
  filter: none;
}

.tagline {
  margin: 1rem 0 1rem 0;
  color: var(--hero-card-content-color);
  line-height: 2rem;
  font-family: HFMidoRound;
}

.description {
  color: var(--hero-description-font-color);
  text-align: center;
}

.highlight {
  color: var(--ifm-color-higlight);
  font-weight: 600;
  font-family: HFP;
  margin: 0 0.5rem;
}

.buttonWrapper {
  margin: 1.7rem auto 1.5rem;
  text-align: center;
  max-width: 11.8rem;
}

.button {
  color: var(--hero-white-color);
  background: var(--ifm-color-primary);
  padding: 0.2rem 1.15rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0.4rem;
  border: 0.1rem solid transparent;
  line-height: 2rem;
  display: flex;
  justify-content: center;
}

.button:hover {
  color: var(--ifm-color-primary);
  background: white;
  border: 0.1rem solid var(--ifm-color-primary);
  transition: all 0.2s ease-in-out;
}

.badgeWrapper {
  display: flex;
  flex-flow: row;
}

.badgeWrapper > * {
  margin-left: 0.3rem;
}

.badgeWrapper > :first-child {
  margin-left: 1rem !important;
}

.partners {
  margin-top: 12.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media only screen and (min-width: 2049px) and (max-width: 2560px) {
  .headerWrapper {
    padding: 12.5rem 6rem 15rem;
  }

  .getStartedButton {
    padding: 0.6rem 0.8rem;
    min-width: 13rem;
    font-size: 1.2rem;
  }

  .githubButton {
    padding: 0.6rem 0.8rem;
    min-width: 13rem;
    font-size: 1.2rem;
  }

  .githubIcon {
    width: 1.5rem;
    margin-right: 1rem;
  }

  .containerInfo {
    max-width: 67.5rem;
  }

  .heroTitle {
    font-size: 8rem;
    position: relative;
  }

  .tagline {
    min-height: 16rem !important;
    line-height: 3rem;
  }

  .headerButton {
    margin: 2rem 0;
  }

  .description {
    font-size: 1.9rem;
  }

  .partnersWrapper > * {
    transform: scale(1.2) !important;
  }

  .companyLogo:nth-child(2) {
    transform: scale(1.8) !important;
  }

  .companyLogo {
    margin: 0 1.5rem !important;
  }

  .partners {
    margin-top: 4.5rem !important;
  }

  .partnersTitle {
    font-size: 1.8rem !important;
  }
}

@media screen and (max-width: 2048px) {
  .headerWrapper {
    padding: 10rem 6rem 18rem;
  }

  .containerInfo {
    max-width: 63.5rem;
  }

  .partners {
    margin-top: 4.5rem;
  }
}

@media screen and (max-width: 1920px) {
  .headerWrapper {
    padding: 9rem 6rem 14rem;
  }

  .containerInfo {
    max-width: 63.5rem;
  }

  .partners {
    margin-top: 3rem;
  }

  .headerButton {
    margin: 2rem 0;
  }

  .tagline {
    min-height: 8rem;
    line-height: 2.6rem;
    font-size: 2rem;
  }

  .description {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1600px) {
  .headerWrapper {
    padding: 7.2rem 6rem 9rem;
  }

  .partners {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1440px) {
  .partners {
    margin: 1.5rem 0;
  }

  .headerWrapper {
    padding: 5rem 6rem 8rem;
  }

  .containerInfo {
    max-width: 53rem;
  }

  .tagline {
    min-height: 4rem;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .containerInfo {
    max-width: 43rem;
  }

  .userImageBox {
    grid-template-columns: repeat(4, 13rem) !important;
  }

  .featuresBackground {
    width: 24rem !important;
    height: 24rem !important;
    margin: 8rem !important;
  }
}

@media screen and (max-width: 992px) {
  .containerInfo {
    max-width: 38rem;
  }

  .heroTitle {
    font-size: 5rem;
  }
  .description {
    font-size: 1.1rem;
  }

  .userImageBox {
    grid-template-columns: repeat(3, 13rem) !important;
  }

  .featuresBackground {
    display: none;
  }

  .featuresInfoWrapper {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    background: #fffc;
    margin: 1rem;
    padding: 1rem;
    width: 10rem !important;
  }

  .developmentLineWarapper {
    display: none !important;
  }

  .developmentInfoImage {
    display: none !important;
  }

  .developmentCard {
    position: relative !important;
    width: 20rem !important;
    left: 0 !important;
    right: 0 !important;
    margin: 1rem;
  }

  .developmentCards {
    position: relative !important;
    width: 20rem !important;
    left: 0 !important;
    right: 0 !important;
    margin: 1rem;
  }

  .developmentBox {
    padding: 1rem;
    border-right: 0.09rem solid rgba(0, 0, 0, 0.1);
    width: 85%;
  }

  .developmentCardYear {
    margin: 1rem;
    text-align: center;
    width: 15%;
  }
}

@media screen and (max-width: 700px) {
  .userImageBox {
    grid-template-columns: repeat(2, 13rem) !important;
  }

  .containerInfo {
    max-width: 23rem;
  }
}

.partnersTitle {
  margin: 0 auto 1rem;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: HFFull;
  color: #117f40;
  letter-spacing: 0.12rem;
}

.partnersWrapper {
  display: flex;
  flex-flow: row;
}

.companyLogo:nth-child(2) {
  transform: scale(1.5);
}

.companyLogo:nth-child(3) {
  transform: scale(1.15);
}

.companyLogo:nth-last-child(2) {
  transform: scale(1.15);
}

.companyLogo {
  height: 2rem;
  margin: 0 1rem;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  position: relative;
  background: linear-gradient(
    180deg,
    #85d9a8,
    #90e4b4 15.73%,
    #99eabb 29.02%,
    #a5f1c5 40.13%,
    #b1f5ce 49.33%,
    #b8f8d3 56.87%,
    #c8fadd 63.04%,
    #d5fde6 68.08%,
    #e1feed 72.27%,
    #e8fff2 75.87%,
    #f0fff6 79.16%,
    #f6fffa 82.38%,
    #f9fffb 85.81%,
    #fbfffc 89.71%,
    #fdfffe 94.35%,
    #fff0
  );
}

.mainWrapper {
  padding: 4rem 6rem;
  max-width: var(--ifm-container-width-xl);
  width: 100%;
  z-index: 3;
}

.mainSkew {
  position: absolute;
  top: 10%;
  left: center;
  bottom: 10%;
  width: 40%;
  border-radius: 20%;
  background-image: url(../../static/img/background.svg);
  z-index: 2;
}

.developmentSkew {
  position: absolute;
  top: -10%;
  left: -35%;
  width: 80%;
  height: 100%;
  border-radius: 50%;
  background-image: url(../../static/img/background.svg);
  z-index: 2;
}

.container {
  position: relative;
  overflow: hidden;
}

.userSkew {
  position: absolute;
  top: 0%;
  right: -35%;
  width: 80%;
  height: 70%;
  border-radius: 50%;
  background-image: url(../../static/img/background.svg);
  z-index: 2;
}

.communitySkew {
  position: absolute;
  left: 0;
  bottom: -40%;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-image: url(../../static/img/background.svg);
  z-index: 2;
}

.viewFeaturesIcon {
  margin-right: 0.35rem;
  width: 1.2rem;
}

.featuresTitleBox {
  display: flex;
  align-items: center;
  margin: 1rem auto 0;
}

.mainModuleTitle,
.useTitle,
.communityTitle {
  margin: 0 auto;
  font-size: 2.5rem;
  color: #444950;
  position: relative;
  font-family: Techna;
  --animate-duration: 2s;
  display: flex;
  align-items: center;
}

.featuresTitleHighling {
  font-size: 2.5rem;
  top: -0.3rem;
  margin: 0 0.5rem;
  background: -webkit-linear-gradient(315deg, #00672d 45%, #502ecb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainModuleSubtitle {
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 0 auto 3rem;
  line-height: 1.4rem;
  font-family: HFMidoRound;
}

.featuresCardWrapper {
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 3rem;
}

.featuresBackground {
  width: 36rem;
  height: 36rem;
}

.featuresInfoWrapper:nth-child(1) {
  position: absolute;
  top: 28%;
  left: 4rem;
  text-align: center;
}
.featuresInfoWrapper:nth-child(2) {
  position: absolute;
  top: 0;
  text-align: center;
}

.featuresInfoWrapper:nth-child(3) {
  position: absolute;
  top: 28%;
  right: 4rem;
  text-align: center;
}

.featuresInfoWrapper:nth-child(4) {
  position: absolute;
  top: 67%;
  left: 4rem;
  text-align: center;
}

.featuresInfoWrapper:nth-child(5) {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.featuresInfoWrapper:nth-child(6) {
  position: absolute;
  top: 67%;
  right: 4rem;
  text-align: center;
}

.featuresImageBackground {
  position: absolute;
  height: 60%;
  top: 0;
  right: 0.2rem;
  z-index: -1;
}

.featuresCardTitle {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  font-weight: 600;
  height: 1.5rem;
  line-height: 1.5rem;
}

.featuresCardContent {
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
}

.development {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background: linear-gradient(0deg, #eefff5, #fff);
  position: relative;
}

.developmentCardWrapper {
  position: relative;
}

.developmentContainer {
  padding: 4rem 6rem;
  max-width: var(--ifm-container-width-xl);
  width: 100%;
  z-index: 3;
}

.developmentInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem 0;
}

.developmentInfoImage {
  width: 3rem;
  padding-bottom: 1rem;
}

.developmentLineWarapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developmentLineWarapper {
  display: flex;
  align-items: center;
  position: relative;
}

.developmentCircle {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: var(--ifm-color-primary);
  border: 0.3rem solid #f1f1f1;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: 1.25rem;
}

.developmentLine {
  position: relative;
  width: 0.2rem;
  height: 3.2rem;
  background: #f1f1f1;
}

.developmentCard {
  background: rgba(255, 255, 255, 0.9);
  box-shadow:
    -6px 3px 20px 0px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 32rem;
  position: absolute;
  right: 4rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
}

.developmentCard:after {
  content: '';
  position: absolute;
  right: -1rem;
  top: 43%;
  width: 0;
  height: 0;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-left: 1rem solid rgba(255, 255, 255, 0.9);
}

.developmentCards {
  background: rgba(255, 255, 255, 0.9);
  box-shadow:
    2px 5px 20px 0px rgba(0, 0, 0, 0.1),
    6px 6px 10px -5px rgba(0, 0, 0, 0.04);
  width: 32rem;
  position: absolute;
  top: 0.4rem;
  left: 4rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
}

.developmentCards:after {
  content: '';
  position: absolute;
  left: -1rem;
  top: 43%;
  width: 0;
  height: 0;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-right: 1rem solid rgba(255, 255, 255, 0.9);
}

.developmentBox {
  padding: 1rem;
  border-right: 0.09rem solid rgba(0, 0, 0, 0.1);
}

.developmentTitleWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.developmentCardImage {
  width: 1.6rem;
  margin-right: 0.8rem;
}

.developmentCardYear {
  margin: 1rem;
  text-align: center;
}

.developmentCardMoon {
  font-size: 0.8rem;
}

.developmentCardTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.developmentCardContent {
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
}

.user {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  position: relative;
  background-image: linear-gradient(180deg, #eefff5, #fff);
}

.userWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 6rem;
  z-index: 3;
}

.userCase {
  min-width: 54rem;
  padding: 1rem 0;
}

.userShowCase {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  box-shadow:
    0px 11px 20px 1px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 0.4rem;
}

.showCaseWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.showCaseWrapper:nth-child(2) {
  border-right: 0.09rem solid rgba(0, 0, 0, 0.1);
  border-left: 0.09rem solid rgba(0, 0, 0, 0.1);
}

.showCaseContent {
  font-size: 2.2rem;
  color: #444950;
  font-family: Techna;
  line-height: 3rem;
  margin: 0.5rem 0;
}

.userTitleHighling {
  font-size: 2.5rem;
  top: -0.3rem;
  margin: 0 0.5rem;
  background: var(--ifm-hero-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.userImageBox {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(7, 8rem);
  grid-gap: 1.6rem;
}

.imageCard {
  padding: 0.5rem;
  text-align: center;
}

.imageCard:hover .userLink {
  color: var(--ifm-color-higlight);
}

.userName {
  position: relative;
  padding-top: 0.5rem;
}

.userName::after {
  content: '';
  width: 0;
  height: 0.09rem;
  background: var(--ifm-color-primary);
  position: absolute;
  top: 98%;
  left: 50%;
  transition: all 0.5s;
}

.imageCard:hover .userName::after {
  left: 0.2rem;
  width: 90%;
}

.contactBox {
  padding: 0 0.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
}

.contactBox:hover .contact {
  color: rgb(255, 87, 34, 1);
}

.contact {
  display: inline-block;
  color: rgb(255, 87, 34, 0.8);
  font-weight: 600;
  font-family: Techna;
}

.userImage {
  height: 2rem;
  margin-bottom: 0.6rem;
}

.imageCard:nth-child(3) .userImage {
  transform: scale(0.8);
}
.imageCard:nth-child(4) .userImage {
  transform: scale(0.8);
}
.imageCard:nth-child(5) .userImage {
  transform: scale(0.8);
}
.imageCard:nth-child(6) .userImage {
  transform: scale(0.8);
}

.imageCard:nth-child(7) .userImage {
  transform: scale(0.8);
}

.imageCard:nth-child(8) .userImage {
  transform: scale(1.2);
}

.imageCard:nth-child(9) .userImage {
  transform: scale(0.7);
}

.imageCard:nth-child(10) .userImage {
  transform: scale(1.3);
}

.imageCard:nth-child(11) .userImage {
  transform: scale(0.7);
}

.imageCard:nth-child(12) .userImage {
  transform: scale(3);
}

.imageCard:nth-child(13) .userImage {
  transform: scale(0.8);
}

.imageCard:nth-child(14) .userImage {
  transform: scale(0.9);
}

.imageCard:nth-child(15) .userImage {
  transform: scale(0.7);
}

.imageCard:nth-child(16) .userImage {
  transform: scale(0.7);
}

.imageCard:nth-child(18) .userImage {
  transform: scale(0.85);
}

.imageCard:nth-child(19) .userImage {
  transform: scale(0.7);
}

.imageCard:nth-child(21) .userImage {
  transform: scale(0.8);
}

.imageCard:nth-child(23) .userImage {
  transform: scale(0.8);
}

.imageCard:nth-child(24) .userImage {
  transform: scale(0.8);
}

.imageCard:nth-child(25) .userImage {
  transform: scale(0.7);
}

.imageCard:nth-child(26) .userImage {
  transform: scale(0.7);
}

.userLink {
  width: 85%;
  font-weight: 600;
  font-family: HFMidoRound;
  font-size: 0.8rem;
  cursor: pointer;
  color: rgb(107, 114, 128);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.userLink:hover {
  color: var(--ifm-color-higlight);
}

.community {
  justify-content: center;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(0deg, #eefff5, #fff);
  position: relative;
  overflow: hidden;
}

.communityWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 6rem;
  z-index: 3;
}

.communitySubtitle {
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 1.7rem auto 3rem;
  line-height: 1.4rem;
  font-family: HFMidoRound;
}

.communityCardInfo {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: center;
  margin: 0 2rem;
}

.communityCardWrapper {
  max-width: 24rem;
  padding: 1.4rem;
}

.communityCard {
  padding: 1.4rem;
  height: 100%;
  box-shadow:
    0 0.125rem 0.2rem -0.0625rem #32325d40,
    0 0.0625rem 0.245rem -0.0625rem #0000004d;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.communityIcon {
  width: 2rem;
  padding-bottom: 1.5rem;
}

.communityText {
  font-size: 1.05rem;
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
}

.communityButtonContain {
  display: flex;
  align-items: center;
}

.communityButton {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
  box-shadow:
    0 0.025rem 0.1rem -0.02225rem #32325d40,
    0 0.0525rem 0.215rem -0.0625rem #0000004d;
  padding: 0.5rem 0.5em;
  color: var(--hero-card-content-color);
}

.communityButton:nth-last-of-type(2) {
  margin-right: 1rem;
}

.communityButton:hover {
  color: #ffffff;
  background: #172026;
  transition: all 0.2s ease-in-out;
}

.communityButtonIcon {
  width: 1.4rem;
  margin-right: 0.5rem;
  filter: invert(100%);
}

.communityButton:hover .communityButtonIcon {
  filter: none;
}
