/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@font-face {
  font-family: 'Din';
  src: url('/static/font/DIN.ttf');
}

@font-face {
  font-family: 'HFPopin';
  src: url('/static/font/HFPopin.ttf');
}

@font-face {
  font-family: 'HFMidoRound';
  src: url('/static/font/HFMidoRound.ttf');
}

@font-face {
  font-family: 'MabryPro';
  src: url('/static/font/MabryPro-Bold.ttf');
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Din';
  --ifm-color-primary: #239b56;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --ifm-menu-color: #000;
  --hero-header-shew-color: #fcfcfc;
  --hero-description-font-color: rgba(0, 0, 0);
  --hero-mian-skew-color: #ffffff;
  --hero-user-color: #e5fbd6;
  --hero-white-color: #ffffff;
  --hero-card-content-color: #000;
  --ifm-color-higlight: #239b56;
  --ifm-hero-text-color: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  --ifm-footer-background-color: #172026;
  --ifm-footer-title-color: #ffffff;
  --ifm-footer-link-color: #ffffff;
  --ifm-footer-color: #ffffff;
  --ifm-menu-color-background-active: #e8faf0;
  --ifm-menu-link-sublist-icon: url('../../static/img/icon/pointer.svg');
  --ifm-card-hover-color: #d0ffda;
  --ifm-dropdown-hover-background-color: #e8faf0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --hero-border-color: rgba(255, 255, 255, 0.1);
  --hero-subtitle-font-color: #fff;
}

.header-github-link:hover.navbar__item::after {
  content: '';
  width: 0;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.menu__link--active:not(.menu__link--sublist) {
  margin-right: 1rem;
  font-family: __Inter_332a6e ', ' __Inter_Fallback_332a6e;
}

.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.4rem 1.4rem;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.4rem 1.4rem;
}

.table-of-contents__link {
  font-weight: 500;
  font-size: 0.9rem;
}

.footer-logo-wrapper {
  display: inline-flex;
  align-items: center;
  font-family: HFPopin;
  font-size: 1.3rem;
  color: var(--ifm-footer-color);
}

.footer-logo {
  width: 2rem;
  margin-right: 0.4rem;
}

.socials {
  width: 2rem;
  margin-right: 0.8rem;
  transition: opacity var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  filter: grayscale(1) invert(0.25);
}

.socials:hover {
  filter: none;
}

.footer__col:nth-last-of-type(2) .footer__items {
  display: flex;
  text-align: center;
}

.footer-items:not(:last-child):after {
  content: '·';
  margin: 0 1rem;
  color: #ffffff;
}

.footer__col:last-of-type .footer__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__col:nth-last-of-type(2) .footer__item {
  width: 100%;
}

.footer-items {
  color: var(--ifm-footer-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.cncf-logo {
  background: center no-repeat url('/img/cncf-color.svg');
}

html[data-theme='dark'] .cncf-logo {
  background: center no-repeat url('/img/cncf-white.svg');
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.dingtalk .dingtalk-label {
  color: var(--ifm-footer-link-color);
}

.dingtalk .dingtalk-img {
  display: none;
  position: absolute;
  width: 100px;
}

.dingtalk:hover .dingtalk-img {
  display: block;
}

.navbar {
  height: 4rem;
  box-shadow: none;
}

.navbar-scrolled {
  transition: background-color 0.3s;
  background-color: rgb(23 137 72);
  height: 4.8rem;
}

.navbar-scrolled .navbar__title {
  color: white;
  font-size: 1.4rem;
}

.navbar-scrolled .navbar__logo {
  height: 2.4rem;
}

.navbar-scrolled .navbar__logo img {
  filter: brightness(5);
}

.navbar-scrolled .navbar__link {
  color: white;
  font-family: MabryPro;
  font-size: 1.2rem;
}

.navbar-scrolled .navbar__item::after {
  background: white;
}

.navbar-scrolled .header-github-link:before {
  content: '';
  width: 26px;
  height: 26px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

@media only screen and (min-width: 2049px) and (max-width: 2560px) {
  .table-of-contents__link {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1440px) {
  .navbar {
    padding: 0.5rem 3rem;
  }
  .table-of-contents__link {
    font-weight: 500;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1200px) {
  .navbar__item {
    font-size: 0.9rem !important;
  }
}

.navbar__brand {
  margin-top: 0.13rem;
}

.navbar__title {
  font-family: HFPopin;
  font-size: 1.3rem;
}

b {
  font-family: HFPopin;
  font-size: 1.3rem;
}

.navbar__item {
  font-family: MabryPro;
  font-size: 1.1rem;
  position: relative;
}

.navbar__item::after {
  content: '';
  width: 0;
  height: 0.1rem;
  background: #239b56;
  position: absolute;
  top: 98%;
  left: 50%;
  transition: all 0.5s;
}

.navbar__item:hover::after {
  left: 15%;
  width: 68%;
}
